*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #5d7a9a;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: #333;
    text-align: center;
    margin-bottom: 10px;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: white;
    text-decoration: none;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

li a {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

li a:hover {
    background-color: #6a4140
}

.mainNav .active {
    background-color: #9a5e5d;
    color: white;
}

li a:hover {
    background-color: #6a4140
}
li a.active {
    background-color: #9a5e5d; /* Active page color */
    color: white;
}
li a:hover, li a.active {
    color: white;
}

ul.dropdown li {
    display: block;
}

ul.dropdown {
    width: auto;
    position: absolute;
    z-index: 999;
    display: none;
    text-align: center;
}

ul li:hover ul.dropdown {
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {display: block;}

table, th, td {
    border: 1px solid black;
}
.form_add-KLASSE, .form_add-STUDENT{
    border: 1px solid black;
    text-align: left;
    margin: 0;
    padding: 10px;
}
 /* I NEED TO UNDERSTAND BETTER  everything below */

.grid-container-outer{
    margin-left: auto;
    margin-right: auto;
    text-align:left;
    gap: 10px;
    padding: 20px;
    background-color: #5d7a9a;
}
.grid-container-outer > div {
    background-color: #aec8f1;
    border: 1px solid black;
    text-align: left;
    padding: 10px;
    box-shadow: 1px 1px 2px;
}



