*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #5d7a9a;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: #333;
    text-align: center;
    margin-bottom: 10px;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: white;
    text-decoration: none;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

li a {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

li a:hover {
    background-color: #6a4140
}
li a.active {
    background-color: #9a5e5d; /* Active page color */
    color: white;
}
li a:hover, li a.active {
    color: white;
}

ul.dropdown li {
    display: block;
}

ul.dropdown {
    width: auto;
    position: absolute;
    z-index: 999;
    display: none;
    text-align: center;
}

ul li:hover ul.dropdown {
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {display: block;}


table, th, td {
    border: 1px solid black;
}
.grid-container-outer {
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    grid-template-rows:  auto auto;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    background-color: #5d7a9a;
}

.grid-container-inner{
    position: relative;
    margin-top: 10%;
    margin-left: 40%;
}


.grid-container-outer > div {
    background-color: #aec8f1;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    text-align: left;
    box-shadow: 1px 1px 2px;
}
